<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.web.instafx">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.instafx"
        android:usesCleartextTraffic="true">
        <activity android:name=".googleauthentication.TwoVerificationActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".fund_withdrawal.P2PTransfer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".download_trade_reports.DownloadTradeReport"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".settings.PasscodeSetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SecuritySettings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".staking.StakingScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".settings.SettingLanguage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".FundHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".order_details.OrderDetailsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.SelectStateScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.BankDetailScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.BasicDetailScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.IdentityDetailScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.SelectCountryScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".search_currency.SearchCurrencyScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".payment_option.PaymentOptionsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".activity_log.ActivityLogScreens"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".two_factor_auth.TwoFactorAuthScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".currency_preferences.CurrencyPreferencesScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".settings.SettingProfileScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".fund_withdrawal.WithdrawalFundScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".fund_withdrawal.ConfirmWithdrawalFundScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.VerifyKycForPersonalInfoScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.VerifyCompleteSubmitKycScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".kyc.VerifyKycAccountDetailsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.instafx" />
        <activity
            android:name=".GetKeysActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fiatdepositwithdraw.WithdrawInrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fiatdepositwithdraw.ShowFiatCurrencyDepositWithdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deposit.DepositeInrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".captcha.VerifyCaptchaJava"
            android:screenOrientation="portrait" />
        <activity
            android:name=".captcha.VerifyCaptcha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invite_earn.InviteEarnScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerifyOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kyc.GoogleAuthentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kyc.BalanceFulledetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kyc.WithdrawMoney"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".kyc.UploadKycDocuments" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".kyc.PersonalDetails" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".ScanQrCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pairdetailfragments.PairDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".fcm.MessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".googleauthentication.Verification"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googleauthentication.SetUpKey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googleauthentication.PasteBackupKey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googleauthentication.BackUpKey"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googleauthentication.DownloadAndInstall"
            android:screenOrientation="portrait" />
        <activity
            android:name=".googleauthentication.EnableGoogleAuth"
            android:screenOrientation="portrait" />

        <activity
            android:name=".forgot_pwd.ForgotPassword"
            android:screenOrientation="portrait" />

        <activity
            android:name=".forgot_pwd.EnterOTP"
            android:screenOrientation="portrait" />

        <activity
            android:name=".forgot_pwd.RecoverPassword"
            android:screenOrientation="portrait" />




    </application>

</manifest>