<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.web.instafx">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
     </queries>

    <application
        android:name="com.web.instafx.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.UnitedExchange"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".FundHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>

        <activity
            android:name=".order_details.OrderDetailsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>

        <activity
            android:name="com.web.instafx.kyc.SelectStateScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.kyc.SelectCountryScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.search_currency.SearchCurrencyScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.payment_option.PaymentOptionsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.activity_log.ActivityLogScreens"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.two_factor_auth.TwoFactorAuthScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.currency_preferences.CurrencyPreferencesScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.setting_profile.SettingProfileScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.fund_withdrawal.WithdrawalFundScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.fund_withdrawal.ConfirmWithdrawalFundScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.kyc.VerifyKycForPersonalInfoScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.kyc.VerifyCompleteSubmitKycScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity
            android:name="com.web.instafx.kyc.VerifyKycAccountDetailsScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhatAShot"/>
        <activity android:name="com.web.instafx.GetKeysActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.web.instafx.fiatdepositwithdraw.WithdrawInrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.fiatdepositwithdraw.ShowFiatCurrencyDepositWithdraw"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.fiatdepositwithdraw.DepositeInrActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.captcha.VerifyCaptchaJava"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.captcha.VerifyCaptcha"
            android:screenOrientation="portrait" />
        <activity
            android:name="invite_earn.InviteEarnScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.AccountScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.VerifyOtp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.kyc.GoogleAuthentication"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.kyc.BalanceFulledetails"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.kyc.WithdrawMoney"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".kyc.UploadKycDocuments" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name=".kyc.PersonalDetails" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name="com.web.instafx.ScanQrCode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.pairdetailfragments.PairDetailView"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.web.instafx.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.web.instafx.MainActivity"
            android:screenOrientation="portrait" />

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.provider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/provider_paths" />-->
<!--        </provider>-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.web.instafx.fcm.MessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>





